<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4ukE3C8OYWHBK_2kZCCoK-XVbrnh_JKA</string>
	<key>GCM_SENDER_ID</key>
	<string>317595955878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseIndia</string>
	<key>PROJECT_ID</key>
	<string>fir-india-b9178</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-india-b9178.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317595955878:ios:ba84c3714563c41f137a67</string>
</dict>
</plist>